body {
    color: #5a5a5a;

    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;

    margin:0;

    display: block;
}

/* Header */
nav {
    display: block;
}

a {
    color: rgba(0,0,0,.5) !important;
    text-decoration: none;
}

.navbar {
    position: relative;
    padding: 0;
    margin-bottom: 0px !important;
}

.bg-dark {
    background-color: #1B1C1D !important;
}

.icon-bar {
    background-color: white;
}

.nav-link {
    background-color: #1B1C1D !important;
    color: #fffff4 !important;
}

.nav-link:hover {
    background-color: #eee !important;
    color: #1B1C1D !important;
}

.nav {
    padding-left: 0;
    list-style: none;
}

ul {
    margin-top: 0;
    display: block;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* Section #1 - Opening banner */
.opening-banner {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/nyc.jpg); */
    background-image: url(../images/nyc.jpg);
    background-position: center center no-repeat fixed;
    height: 40em;
    position: relative;
    text-align: center;
    background-size: cover !important;
}

.opening-banner > div {
    padding-top: 30vh;
}

.opening-header {
    text-align: center;
    font-size: 56px;
    color: whitesmoke !important;
    border-bottom: none !important;

    /*text-shadow: 1px 1px 1px black, 0 0 25px blue, 0 0 5px darkblue;*/
}

/* Section 2 - Main content */
.special-divider {
    margin-top: 5rem;
}
hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1 {
    border-bottom: 1.5px solid #eee;
}

.special-heading {
    display: block;

    font-weight: normal;
    line-height: 1;
    margin-bottom: .5rem;
    margin-top: 0;
}

.text-muted {
    color: #818a91 !important;   
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.normal-text {
    font-size: 1.5rem;
    font-weight: 350;
}

.special-img {
    display: block;
    width: 350px;
    height: 425px;
}

.special-img2 {
    display: block;
    width: 450px;
    height: 275px;
}

.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}

.center-text {
    text-align:center;
}

span.glyphicon {
    font-size: 5em;
}


/* Footer */

footer {
	clear: both;
	background: #1B1C1D;
	padding: 2em 3em;
	text-align: center;
}

footer > p {
	margin: 0;
	display: block;
	color: lightgrey;
	font-size: 18px !important;
	text-align: center;
}

footer > .icons {
	margin-top: 1em;
	display: block;
	clear: both;
}

footer > .icons i {
	color: lightgrey;
	font-size: 20px;
}

footer > .icons i:hover {
	opacity: 0.8;
}

.pipe {
	display: none;
}

/* Icon css */
#in-icon {
    color: cornflowerblue
}

#fb-icon {
    color: darkblue
}

#phone-icon {
    color: green;
}

#mail-icon {
    color: lightgrey;
}

a > #in-icon:hover, a > #fb-icon:hover, a > #in-icon, a > #fb-icon{
    text-decoration: none !important;
}

#about, #education, #experience, #contact {
	padding-top: 40px;
}

#achievements {
    padding-top: 50px;
}
